<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cyber-war.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E9EF62B1C1FFBC6002224F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E9EF63F1C1FFBC6002224F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E9EF64A1C1FFBC6002224F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
